.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-cntnr {
  display: flex;
  justify-content: center;
  width: 600px;
  border-radius: 5px;
  height: 25px;
  border: 1px solid black;
  margin-top: 50px;
  align-items: center;
  position: relative;
}

.loader-percentage {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  z-index: 2;
}

.loader-color {
  background-color: hotpink;
  height: 100%;
  position: absolute;
  left: 0;
}